body{
    display: grid;
    justify-items: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: grid;
grid-auto-flow: row;
    border: black 1px solid;
    margin-top: 20px;
    padding: 10px;
justify-items: center;
}
.form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'label-name label-timezone .'
                         'inpute-name input-timezone btn-submit';
    justify-items: center;
    gap: 10px;
    padding: 10px;
}
.btn-submit{
    grid-area: btn-submit;
    height: 30px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}
.label-name{
   grid-area: label-name;
}
.label-timezone{
grid-area: label-timezone;
}
.input-name{
    grid-area: inpute-name;
}
.input-timezone{
    grid-area: input-timezone;
}
.local-watch{
    text-align: center;
    padding: 10px;
}
.container-watches{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    width: 600px;
    height: 40vh;
    padding-left: 30px;
    padding-top: 20px;
    overflow: auto;
}
.watch-card{
    display: grid;
    width: 150px;
    height: 70px;
    border: black 1px solid;
    justify-items: center;
    border-radius: 10px;
}

.fa-times-circle-o{
    font-size: 20px;
    color: red;
    justify-self: right;
    text-align: center;
}
.titleWatch{

}
.dataWatch{

}